/* colors */
:root {
  --nav-color: #39425d;
  --hero-caption-color: #df6951;
  --hero-title-color: #181e4b;
  --text-color: #5e6282;
  --playDemo-text-color: #686d77;
  --white-color: #ffffff;
  --subscripe-btn-color: linear-gradient(
    180deg,
    rgba(255, 148, 109, 1),
    rgba(255, 125, 104, 1)
  );
  --form-background-color: rgba(223, 215, 249, 1);
  --gradient-bgc-hero: linear-gradient(
    180deg,
    rgb(53 47 58 / 20%) 0%,
    rgb(47 48 58 / 40%) 100%
  );
  --find-out-color: #f1a501;
  --play-demo-icon: #df6951;
}

/* боді */
body {
  font-family: "Poppins", "Volkhov", sans-serif;
  color: var(--text-color);
  background-color: var(--white-color);
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 1200px) and (max-width: 1440px) {
    background: url("../img/png/body_bgc.png");
    background-repeat: no-repeat;
  }
}

/* обнулення */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  margin: 0;
  padding: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  padding-left: 50px;
  padding-right: 50px;

  @media screen and (min-width: 1200px) {
    padding-left: 150px;
    padding-right: 150px;
  }
  @media screen and (max-width: 650px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}
/* header */
.header__content {
  padding-top: 50px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;

  @media screen and (max-width: 650px) {
    padding-top: 20px;
    padding-bottom: 15px;
  }
}

.logo {
  padding-right: 218px;
  @media screen and (max-width: 1200px) {
    padding-right: 60px;
  }
  @media screen and (max-width: 767px) {
    padding-right: 30px;
  }
  @media screen and (max-width: 650px) {
    width: 50px;
  }
}

@media screen and (max-width: 650px) {
  .logo__img {
    width: 50px;
  }
}

.navigate__list {
  list-style: none;
  display: flex;
  gap: 55px;

  @media screen and (max-width: 1200px) {
    gap: 20px;
  }
  @media screen and (max-width: 909px) {
    flex-direction: column;
    font-size: 44px;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-top: 50px;
  }
}

.nav__button {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--hero-title-color);
  color: var(--hero-title-color);
  stroke: var(--hero-title-color);
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 910px) {
  .nav__button {
    display: none;
  }
}

.nav__icon {
  fill: var(--hero-title-color);
  color: var(--hero-title-color);
  stroke: var(--hero-title-color);
}

@media screen and (max-width: 909px) {
  .menu__container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--white-color);
    z-index: 999;
    visibility: hidden;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 48px;
    padding-bottom: 48px;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (min-width: 768px) {
  .menu__container {
    padding: 0;
    gap: 96px;
  }
}
@media screen and (min-width: 1200px) {
  .menu__container {
    gap: 315px;
  }
}
.menu__container.is-open {
  transform: translateX(0);
  visibility: visible;
}
.menu__container .nav__button {
  position: absolute;
  top: 36px;
  right: 36px;
}

.navigate__link {
  text-decoration: none;
  color: var(--nav-color);
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}

.register__list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 80px;
  padding-right: 20px;
  gap: 50px;
}

@media screen and (max-width: 1200px) {
  .register__list {
    padding-left: 20px;
    gap: 10px;
  }
}

.register__btn {
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  background-color: transparent;
  color: var(--nav-color);
  width: 100px;
  height: 40px;
  @media screen and (max-width: 650px) {
    font-size: 12px;
    width: 60px;
    height: 30px;
  }
}

.register__login-btn {
  border: none;
}

.register__singUp-btn {
  border-radius: 5px;
  border: 1px solid var(--nav-color);
}

.language-change__container {
  display: flex;
  flex-direction: column;
  @media screen and (max-width: 909px) {
    padding-right: 50px;
  }
}
.language-change__btn {
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  border: none;
  background-color: transparent;

  @media screen and (max-width: 650px) {
    font-size: 12px;
  }
}
/* main */
/* hero */
.hero__section {
  height: 764px;
  display: flex;
  justify-content: start;
  align-items: center;
  background-image: url("../img/webP/heroBackground.webp");
  background-size: 716px, 764px;
  background-repeat: no-repeat;
  background-position: right 102px top 30px;
}

@media (min-divice-picel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero__section {
    background-image: url("../img/webP/heroBackground@2x.webp");
    @media screen and (max-width: 1199px) {
      width: auto;
      background-size: contain;
      background-image: var(--gradient-bgc-hero),
        url("../img/webP/heroBackground@2x.webp");
      background-position: center;
    }
  }
}

@media (min-divice-picel-ratio: 3),
  (-webkit-min-device-pixel-ratio: 3),
  (min-resolution: 288dpi),
  (min-resolution: 3dppx) {
  .hero__section {
    background-image: url("../img/webP/heroBackground@3x.webp");
    @media screen and (max-width: 1199px) {
      width: auto;
      background-size: contain;
      background-image: var(--gradient-bgc-hero),
        url("../img/webP/heroBackground@3x.webp");
      background-position: center;
    }
  }
}

.hero__text-container {
  max-width: 630px;
}

.hero__caption {
  color: var(--hero-caption-color);
  font-size: 20px;
  font-weight: bold;

  @media screen and (max-width: 650px) {
    font-size: 12px;
  }
}

.hero__title {
  padding-top: 24px;
  color: var(--hero-title-color);
  font-family: volkhov;
  font-size: 84px;
  font-weight: bold;
  line-height: 1.06;
  letter-spacing: -4%;

  @media screen and (max-width: 1199px) {
    color: var(--white-color);
  }

  @media screen and (max-width: 650px) {
    font-size: 48px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__title--span {
    position: relative;
  }
  .hero__title--span::after {
    z-index: -1;
    position: absolute;
    top: 80%;
    left: -15%;
    content: "";
    background-image: url("../img/svg/enjoyAfter.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 160%;
    height: 100%;
  }
}

.hero__text {
  padding-top: 30px;
  padding-right: 180px;
  font-family: poppins;
  font-weight: medium;
  font-size: 16px;
  line-height: 1.87;

  @media screen and (max-width: 1199px) {
    color: var(--white-color);
  }

  @media screen and (max-width: 650px) {
    font-size: 12px;
    padding-right: 0;
  }
}

.hero-btn__container {
  padding-top: 34px;
  display: flex;
  gap: 44px;

  @media screen and (max-width: 650px) {
    padding-top: 90px;
    display: flex;
    justify-content: center;
  }
}

.find__btn {
  cursor: pointer;
  background-color: var(--find-out-color);
  border: none;
  width: 170px;
  height: 60px;
  color: var(--white-color);
  border-radius: 10px;
  box-shadow: 0px 20px 35px 0px rgba(241, 165, 1, 0.15);
  font-size: 17px;
  line-height: 1.5;
  font-weight: 500;

  @media screen and (max-width: 650px) {
    width: 100px;
    height: 40px;
    font-size: 12px;
  }
}

.play__btn {
  display: flex;
  align-items: center;
  gap: 21px;
  cursor: pointer;
  background-color: transparent;
  color: var(--playDemo-text-color);
  border: none;
  border-radius: 10px;
  font-size: 17px;
  line-height: 1.5;
  font-weight: 500;
  @media screen and (max-width: 1199px) {
    color: var(--white-color);
  }

  @media screen and (max-width: 650px) {
    font-size: 12px;
    gap: 10px;
  }
}

.play__btn-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: var(--play-demo-icon);
  box-shadow: 0px 15px 30px 0px rgba(223, 105, 81, 0.3);
  @media screen and (max-width: 650px) {
    width: 40px;
    height: 40px;
  }
}
/* form */
.form__section {
  padding-top: 62px;
  padding-bottom: 20px;
}

@media screen and (min-width: 1200px) and (max-width: 1440px) {
  .form__container {
    position: relative;
    background: url("../img/png/form_bg.png");
    background-repeat: no-repeat;
    height: 407px;
    border-radius: 129px 20px 20px 20px;
  }

  .form__container::after {
    position: absolute;
    content: "";
    background-image: url("../img/svg/circleBgcForm2.svg");
    background-repeat: no-repeat;
    top: 0;
    right: -15px;
    width: 278px;
    height: 278px;
  }

  .form__container::before {
    position: absolute;
    content: "";
    background-image: url("../img/svg/circleBgcForm1.svg");
    background-repeat: no-repeat;
    bottom: -20px;
    left: 0;
    width: 379px;
    height: 379px;
  }
}

.form__title {
  padding-top: 79px;
  font-family: poppins;
  font-size: 33px;
  font-weight: bold;
  line-height: 1.64;
  padding-left: 142px;
  padding-right: 142px;
  text-align: center;

  @media screen and (max-width: 1024px) {
    padding-top: 0;
    padding-left: 30px;
    padding-right: 30px;
  }

  @media screen and (max-width: 650px) {
    padding: 0;
    font-size: 24px;
  }
}
@media screen and (max-width: 1199px), (min-width: 1441px) {
  .plas__img {
    display: none;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1440px) {
  .plas__img {
    position: absolute;
    bottom: -70px;
    right: -100px;
  }
}

.form {
  padding-top: 66px;
  display: flex;
  justify-content: center;
  gap: 24px;
}

.form__input {
  height: 68px;
  width: 421px;
  border-radius: 10px;
  border: none;
  padding-left: 66px;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  @media screen and (max-width: 1199px), (min-width: 1441px) {
    background: var(--form-background-color);
  }
  @media screen and (max-width: 650px) {
    width: 250px;
    height: 40px;
    font-size: 12px;
    padding-left: 44px;
  }
}
.form__label {
  position: relative;
}

.form__icon {
  position: absolute;
  top: calc(50% - 10px);
  left: 31px;

  @media screen and (max-width: 650px) {
    top: 13px;
    left: 13px;
    width: 20px;
  }
}

.form__btn {
  width: 180px;
  height: 68px;
  background: var(--subscripe-btn-color);
  color: var(--white-color);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 17px;
  font-weight: 500;
  line-height: 1.5;

  @media screen and (max-width: 650px) {
    font-size: 12px;
    width: 120px;
    height: 40px;
  }
}

@media screen and (max-width: 1199px), (min-width: 1441px) {
  .messanger__link {
    display: none;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1440px) {
  .messanger__link {
    display: block;
    position: absolute;
    top: -10px;
    right: -20px;
  }
}
